<%- include('./partials/header') %> 

<div class="container py-5">
    <h1>Gracias</h1>
    <p>Hola <%=nombreUsuario%>, gracias por dejar tu mensaje. En breve estaremos contigo.</p>
</div>


<%- include('./partials/header') %> 

