
/* Fuentes del sitio */
p, a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif !important;}
h1{ font-size: 60px !important;}
h2{ font-size: 45px !important;}
h3{ font-size: 35px !important;}
h4{ font-size: 25px !important;}
p, a{font-size: 18px !important;}